<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TomatoComposeDemo"
        tools:targetApi="31">
        <activity
            android:name=".dongnaoxueyuan.unit4effect.SampleEffectActivity"
            android:exported="false"
            android:theme="@style/Theme.TomatoComposeDemo" />
        <activity
            android:name=".weijueye.SampleNavigationActivity"
            android:exported="false"
            android:theme="@style/Theme.TomatoComposeDemo" />
        <activity
            android:name=".weijueye.SampleListActivity"
            android:exported="false"
            android:theme="@style/Theme.TomatoComposeDemo" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.TomatoComposeDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dongnaoxueyuan.unit3state.ui.RecoverActivity"
            android:exported="true"
            android:theme="@style/Theme.TomatoComposeDemo" />
        <activity
            android:name=".dongnaoxueyuan.unit3state.ui.TodoActivity"
            android:exported="true"
            android:theme="@style/Theme.TomatoComposeDemo" />
        <activity
            android:name=".dongnaoxueyuan.unit2widget.WidgetActivity"
            android:exported="true"
            android:theme="@style/Theme.TomatoComposeDemo" />
        <activity
            android:name=".dongnaoxueyuan.unit1first.FirstListActivity"
            android:exported="true"
            android:theme="@style/Theme.TomatoComposeDemo" />
    </application>

</manifest>